.menu-sidebar .ant-menu-title-content {
  white-space: normal !important; /* Cho phép xuống dòng */
  word-break: break-word; /* Ngắt từ khi dài quá */
  line-height: 1.3; /* Dãn dòng một chút */
}

.menu-sidebar .ant-menu-submenu {
  margin-bottom: 6px;
}

.menu-sidebar .ant-menu-submenu-title {
  height: 45px !important;
}

.menu-sidebar .ant-menu-item {
  height: 35px !important;
  padding-left: 30px !important;
}

.menu-sidebar .menu-scroll {
  scrollbar-width: thin;
  scrollbar-color: #888 #f0f0f0;
}

.menu-sidebar .ant-menu-submenu-arrow {
  color: white;
}

.menu-sidebar .ant-menu-root > .ant-menu-item {
  padding-inline: 24px !important;
  color: white;
}

.menu-sidebar .ant-menu-root > .ant-menu-item:hover {
  background-color: #e6f4ff !important;
  color: #1677ff !important;
}

/* Active/Selected state cho tất cả root level items */
.menu-sidebar .ant-menu-root > .ant-menu-item.ant-menu-item-selected {
  background-color: #e6f4ff !important;
  padding-inline: 24px !important;
  color: #1677ff !important;
}
