.select-sort {
  min-width: 120px;
}

.select-sort .ant-select-selector {
  border-radius: 6px !important;
  padding: 16px 12px !important;
}

.select-status {
  width: 100%;
}

.dark .ant-select .ant-select-selector {
  background-color: #26282c !important;
}
.dark .ant-select .ant-select-selection-item {
  color: #fff !important;
}

.dark .ant-steps-item-content .ant-steps-item-title {
  color: #fff !important;
}
.dark .ant-steps-item-content .ant-steps-item-description {
  color: #fff !important;
}
