.ant-transfer-list {
  width: 50% !important;
}

.ant-transfer-list-content-item {
  padding-right: 0px !important;
}

.ant-transfer-list-body-search-wrapper {
  position: sticky !important;
  top: 0;
  left: 0;
  background: #fff !important;
  z-index: 1;
  padding-right: 6px !important;
}

.dark .ant-transfer-list-body-search-wrapper {
  background-color: #26282c !important;
}

.dark .ant-transfer-list-header {
  background-color: #26282c;
  color: #fff;
}

.dark .ant-transfer-operation button {
  color: #fff;
}
