.dark .permission .ant-table .ant-table-row {
  background-color: #26282c !important;
}

.dark .permission .ant-table-bordered .ant-table-thead > tr > th,
.dark .permission .ant-table-bordered .ant-table-tbody > tr > td {
  border: 1px solid #2c2b35 !important;
}

.dark .permission .ant-table-tbody > tr:hover > td {
  background: inherit !important; /* giữ nguyên nền đã set */
}
.dark .permission .ant-table-tbody > tr > td {
  background: #26282c !important; /* nền mặc định dark */
  color: #fff; /* chữ sáng */
}

.permission .ant-table-tbody > tr > td {
  border: 1px solid #f4eded
}
